.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a{
  text-decoration: none;
  cursor: pointer;
}

h1:not(.forh1 h1){
  border-bottom: 1px dashed black;
}

.forh1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed black;
}

.forh1 a{
  background-color: dodgerblue;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  border-radius: 10px;
}

button{
  cursor: pointer;
}